body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #090C0E, #1B313B);
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}
